    @model HomeViewModel
    <div id="submenu-container">
    <ul id="submenu">
        @foreach (var categoria in Model.Categorias)
        {
                    <a class="btn btn-dark" asp-controller="Lanche" asp-action="List" style="color:white;" asp-route-categoria="@categoria.CategoriaNome"><li>@categoria.CategoriaNome</li></a>
        }
    </ul>
</div>
@if(ViewBag.StatusLoja == Status.StoreStatus.Aberto)
{
   // <h2 class="text-center" style="color:green;">Aberto</h2>
}
else
{
        <h2 class="text-center" style="color:red;">Estamos Fechado</h2>
}
<a asp-action="list"asp-controller="Lanche"><partial name = "Carousel" /></a> 

    <h3>Os preferidos da semana: </h3>
@if (ViewBag.StatusLoja == Status.StoreStatus.Aberto)
{
    <div class="row"> 
        @foreach (var lanche in Model.LanchesPreferidos)
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
}

<div class="text-center" style="margin-top:20px;">
    <a class="btn btn-dark text-light text-center"asp-action="list"asp-controller="Lanche">Todos os lanches</a>
</div>

<style>
#submenu-container {
    width: 100%; /* Defina a largura desejada para o submenu */
    overflow-x: auto; /* Adiciona rolagem horizontal quando há muitas categorias */
    white-space: nowrap;
}

#submenu {
    list-style: none;
    padding: 0;
    display: flex;
}

#submenu li {
    padding: 10px;
    color: white; /* Define a cor do texto como branco */
    cursor: pointer;
}

#submenu li:hover {
    color: #fff; /* Cor de fundo ao passar o mouse sobre uma categoria */
}
</style>