<br />
@inject LanchoMac.Data.LanchesContexto _lanchesContexto;
<img src="~/images/adminarea.jpg" alt="Àrea de Administração"  class="marginTop1"/>
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Esta é a área do Administrador</h2>
        </p>
    </div>

    @{
        var status = ViewBag.Status;
        string buttonText = "Abrir Loja";
        string buttonClass = "btn-success";
        string action = "AbrirLoja";

        if (status == Status.StoreStatus.Fechado)
        {
            buttonText = "Abrir Loja";
            buttonClass = "btn-success";
            action = "AbrirLoja";
        }
        else if (status == Status.StoreStatus.Aberto)
        {
            buttonText = "Fechar Loja";
            buttonClass = "btn-danger";
            action = "FecharLoja";
        }
    }

<div>
    <form method="post" asp-controller="Admin" asp-area="Admin" asp-action="@action">
        <input type="hidden"  />
        <button type="submit" class="btn @buttonClass">@buttonText</button>
    </form>
</div>

    
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>